{% load static %}
            <div class="text-center landing-main-footer py-3">
                <span class="text-muted fs-15"> Copyright © <span id="year"></span> <a
                    href="https://www.uv.mx/" class="text-primary fw-medium"><u> Universidad Veracruzana</u></a>.
                Designed with <span class="ri-heart-fill text-danger"></span> by <a href="javascript:void(0);" class="text-primary fw-medium"><u>
                E4 Team</u>
                </a> All
                rights
                reserved
                </span>
            </div>